/* ===== DASHBOARD VIDEO ===== */

.video-dashboard h1 {
    font-size: 24px;
    margin-bottom: 6px;
}

.video-dashboard p {
    font-size: 14px;
    margin-bottom: 18px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
}

.video-item {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.video-item:hover {
    transform: scale(1.03);
}

.video-item video {
    width: 100%;
    border-radius: 12px;
}

.video-item span {
    display: block;
    margin-top: 6px;
    font-size: 13px;
    color: #555;
    font-weight: bold;
}

/* Dark Mode */
body.dark .video-item {
    background: #2b2b2b;
}

body.dark .video-item span {
    color: #ddd;
}
